<div class="jumbotron jumbotron-fluid bg-image">
    <div class="container">
        <h1 class="display-4">Welcome to <span class="blue-text">Element 6 Gaming</span></h1>
        <p>Hop in to one of our meetings on the first Saturday of every month at 10pm CST!</p>
        <p class="lead"><strong>Teamspeak: ts3.e6gaming.com</strong></p>
    </div>
</div>
<div class="container">
    <h2>Sponsors</h2>
    <div class="md-6 pt-2">
        <strong>Platinum Tier</strong>
        <ul class="list-group">
            <li class="list-group-item">Alseta LLC.</li>
            <li class="list-group-item">Renegade Hosting</li>
            <li class="list-group-item">TeamSpeak</li>
        </ul>
    </div>
    <div class="md-6 pt-4">
        <strong>Gold Tier</strong>
        <ul class="list-group">
            <li class="list-group-item">Altered Innovations</li>
        </ul>
    </div>
</div>