<html>
<body>

  <h1>Welcome To Element 6 Gaming! </h1>

  <p>Here are some useful links:</p>
  <ul>
    <li><strong> Teamspeak: ts3.e6gaming.com </strong> Hop in to one of our meeting on the first Saturday of every month at 10pm CST!</li>
  </ul>
  <p>If you would like to donate to E6Gaming, please click below. Thanks!</p>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=SHJ8Y4VMCBJWG">
    <img class="paypal" src="assets/images/paypal.png">
  </a>

  <p>Our Platinum Sponsors:</p>
  <ul>
    <li><strong> Alseta LLC. </strong></li>
    <li><strong> Renegade Hosting </strong></li>
    <li><strong> TeamSpeak </strong></li>
  </ul>
  <p>Our Gold Sponsors:</p>
  <ul>
    <li><strong> Altered Innovations </strong></li>
  </ul>
</body>
</html>
