.container {
    max-width: 960px;
}

.bg-image {
    /* background-image: url("/assets/images/e6-logo.png"); */
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    color: white;
    text-align: center;
}

.blue-text {
    color: rgb(0, 134, 177);
}