a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


img.paypal {
  max-width: 30%;
  height: auto;
}

div {
  color: #000000;
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-attachment: fixed;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-image: url("/assets/images/csgo.png");
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  color: red;
}

a {
  color: red;
}
